body{
  margin:50px;
}
h1{
  background-color:aqua;
  text-align:center;
  font-size: 40px;
}

label{
  font-size: 25px;
}

output{
  display: inline-block;
  border: 1px solid;
  height: 20px;
  length: 450px;
}
button{
  background-color:blue;
  color:white;
  font-size:30px;
}